{% extends 'student_registration/menu.html' %}

{% block title %}Student Registration List{% endblock title %}

{% block styles %}
<style>
      #id_gender div:first-child{
            display: none
      }

      #id_gender label {
            display: flex;
            gap: 10px;
      }
</style>
{% endblock %}

{% block content %}
      <h1>{% if form.instance.pk %}Edit Student Registration {% else %} Student Registration Form {% endif %}</h1>
      <form method="post" enctype="multipart/form-data" class="mt-3">
            {% csrf_token %}
            <div class="mb-3">
                  {{ form.as_p}}
            </div>
            <button type="submit" class="btn {% if form.instance.pk %} btn-warning{% else %} btn-success{% endif %}">Submit</button>
           <a href="{% url 'list' %}" class="btn btn-danger">Cancel</a>
      </form>

{% endblock %}