{% extends 'teacher_crud/menu.html' %}

{% block content %}
<div class="card">
    <div class="card-header">
        <h3>Confirm Delete</h3>
    </div>
    <div class="card-body">
        <p>Do you really want to delete this teacher</p>
    </div>
    <div class="container mt-5">
        
        <form method="post">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger">Yes, Delete</button>
            <a href="{% url 'teacher-list' %}" class="btn btn-secondary">Cancel</a>
        </form>
    
</div>
{% endblock %}